# Auto detect text files and perform LF normalization
* text=auto
 filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/Uproject-Win64-Shipping.exe filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/Uproject-Win64-Shipping.pdb filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/Uproject.exe filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/Uproject.pdb filter=lfs diff=lfs merge=lfs -text
Build/Modart2026/Windows/Uproject/Binaries/Win64/Uproject-Win64-Shipping.exe filter=lfs diff=lfs merge=lfs -text
Build/Modart2026/Windows/Uproject/Binaries/Win64/Uproject.exe filter=lfs diff=lfs merge=lfs -text
Build/Modart2026/Windows/Uproject/Binaries/Win64/Uproject.pdb filter=lfs diff=lfs merge=lfs -text
Build/Modart2026/Windows/Uproject/Content/Paks/Uproject-Windows.ucas filter=lfs diff=lfs merge=lfs -text
Content/Assets/Cyprien_GEORGES/Meshes/ALEMBIC/HOODIE_MAGNETIQUE_ANIMATION_EXP3.uasset filter=lfs diff=lfs merge=lfs -text
Content/Assets/WINNEUSE/Alembic/casque_-anim.uasset filter=lfs diff=lfs merge=lfs -text
Intermediate/Build/Win64/x64/Uproject/Development/Engine/SharedPCH.Engine.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h.pch filter=lfs diff=lfs merge=lfs -text
Intermediate/Build/Win64/x64/Uproject/Shipping/Engine/SharedPCH.Engine.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h.pch filter=lfs diff=lfs merge=lfs -text
Intermediate/Build/Win64/x64/UprojectEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h.pch filter=lfs diff=lfs merge=lfs -text
Intermediate/CachedAssetRegistry_0.bin filter=lfs diff=lfs merge=lfs -text
ModartXEsgi_2025-2026.rar filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/0016_assets/Cylinder.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/ACH/Materials/Textures/Tissu_2.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/ACH/Silhouettes/SILHOUETTE_MESH/S005.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/AMERED/SILHOUETTE/LOOK1/LOOK_1_OK.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/AMERED/SILHOUETTE/LOOK2/LOOK_2.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/Cyprien_GEORGES/Meshes/WAREHOUSE/WAREHOUSE.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/Mathiasprovot/MathiasProvot3.ubulk filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/Mathiasprovot/SILHOUETTES/look7/pose.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/Philippine/Mesh/Structure/V3/ridaux.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/RESONANCE/Look/FBX/L5_LONGDRESS.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/RESONANCE/Look/FBX/L8cropjacket.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/RESONANCE/Look/FBX/L9_OVERSIZEJACKET.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/RESONANCE/Look/FBX/LOOK10.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/RESONANCE/Meshes/PLATINE/PLATINE.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/RESONANCE/Meshes/SPOT/LIGHTS.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/WINNEUSE/Alembic/casque_-anim.ubulk filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Assets/WINNEUSE/MESHES/SCENE/SALON_PARTIEFENETRE.uexp filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/Scene/CELYA.ubulk filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/ShaderArchive-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/ShaderArchive-Global-SF_VULKAN_SM6-VULKAN_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/ShaderArchive-Uproject-PCD3D_SM6-PCD3D_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Content/ShaderArchive-Uproject-SF_VULKAN_SM6-VULKAN_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Metadata/ShaderLibrarySource/ShaderArchive-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Metadata/ShaderLibrarySource/ShaderArchive-Global-SF_VULKAN_SM6-VULKAN_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Metadata/ShaderLibrarySource/ShaderArchive-Uproject-PCD3D_SM6-PCD3D_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Cooked/Windows/Uproject/Metadata/ShaderLibrarySource/ShaderArchive-Uproject-SF_VULKAN_SM6-VULKAN_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Shaders/PCD3D_SM6-PCD3D_SM6/ShaderCode-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Shaders/PCD3D_SM6-PCD3D_SM6/ShaderCode-Uproject-PCD3D_SM6-PCD3D_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Shaders/SF_VULKAN_SM6-VULKAN_SM6/ShaderCode-Global-SF_VULKAN_SM6-VULKAN_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/Shaders/SF_VULKAN_SM6-VULKAN_SM6/ShaderCode-Uproject-SF_VULKAN_SM6-VULKAN_SM6.ushaderbytecode filter=lfs diff=lfs merge=lfs -text
Saved/StagedBuilds/Windows/Uproject/Binaries/Win64/Uproject-Win64-Shipping.exe filter=lfs diff=lfs merge=lfs -text
Saved/StagedBuilds/Windows/Uproject/Content/Paks/Uproject-Windows.ucas filter=lfs diff=lfs merge=lfs -text
